.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor {
  height: 100%;
  display: flex;
}

.filename {
  background-color: #222;
  padding-left: 25vw;
  padding-bottom: 10px;
}

.filename input {
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #272822;
  border: none;
  color: #fff;
}

.file-browser li a {
  color: rgb(13, 255, 37);
  text-decoration: none;
}

.sidebar {
  width: 25vw;
  overflow: scroll;
}

.actions-bar {
  display: flex;
  background-color: #222;
}

.actions-bar main {
  padding-left: 50px;
  width: 75vw;
}

.actions-bar ul {
  display: flex;
}

.actions-bar li a {
  color: rgb(13, 255, 37);
  text-decoration: none;
}
