.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor {
  height: 100%;
  display: flex;
}

.file-browser li a {
  color: rgb(13, 255, 37);
  text-decoration: none;
}

.sidebar {
  width: 25vw;
}

.actions-bar {
  display: flex;
  background-color: #222;
}

.actions-bar .separator {
  background-color: #2F3129;
  width: 41px;
}

.actions-bar main {
  width: calc(75vw - 41px);
}

.actions-bar ul {
  display: flex;
}

a .svg-inline--fa {
  margin-right: 0.5rem;
}

.actions-bar li a {
  color: rgb(13, 255, 37);
  text-decoration: none;
}

.actions-bar main li a {
  /* */
}
